# --- Python build/cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments ---
venv/
.venv/

# --- Local/temporary files ---
.DS_Store        # macOS finder metadata
Thumbs.db        # Windows explorer metadata


# Environment & secrets
.env
.env.*